.App {
  text-align: center;
}

.App-header {
  background-color: white;
  height: 150px;
  color: black;
}

.characterNameInput {
  max-width: 300px;
  text-align: center;
  display:inline-flex;
  justify-content: center;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
