.App {
  text-align: center;
  color: white;
}
.potions {
  font-size: 20px;
}

HTML {
  background-image: url('../components/img/the-background.jpg');
  background-size: cover;
}

.botHits {
  font-size: 20px;
}

.botMiss {
  font-size: 20px;
}

.playerDamage {
  font-size: 20px;
}

.characterName {
  font-size: 20px;
  margin: 0;
}

.botName {
  font-size: 20px;
  margin: 0;
}

.characterNameInput {
  max-width: 300px;
  text-align: center;
  display:inline-flex;
  justify-content: center;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
